# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from g_key import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
file_path = "../output_data/cities.csv"
weather_df=pd.read_csv(file_path)
weather_df.drop_duplicates(subset=['City'])
weather_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Configure gmaps
gmaps.configure(api_key=gkey)

# Store latitude and longitude in locations
latlong = weather_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = weather_df["Humidity"].astype(float)

In [20]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(latlong, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [42]:
conditions_df=weather_df.loc[(weather_df['Humidity']>=50) &(weather_df['Wind Speed']>=5) & (weather_df['Max Temp']<=65)]
conditions_df.dropna(how='all')
conditions_df.head(15)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41
8,8,tiksi,95,RU,1558378756,88,71.64,128.87,14.10,15.70
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
16,16,vilyuysk,16,RU,1558378757,59,63.75,121.63,34.62,5.84
17,17,ushuaia,75,AR,1558378606,75,-54.81,-68.31,44.60,36.91
21,21,busselton,84,AU,1558378758,63,-33.64,115.35,55.00,12.86
22,22,ambon,11,FR,1558378758,93,47.55,-2.56,64.99,5.82
24,24,fallon,90,US,1558378758,53,46.84,-105.12,51.80,18.34
27,27,punta arenas,40,CL,1558378759,61,-53.16,-70.91,50.00,46.08
29,29,new norfolk,40,AU,1558378759,66,-42.78,147.06,57.99,5.82
32,32,port hardy,90,CA,1558378564,87,50.70,-127.42,53.60,5.82
33,33,arman,0,RU,1558378760,64,59.70,150.17,31.56,5.30
36,36,clinton,75,US,1558378556,54,41.84,-90.19,55.40,10.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
#begin the hotel df with city, country, lat, long
hotel_df=conditions_df.loc[:,['City','Country','Lat','Lng']]

#add the 'Hotel Name' column
hotel_df['Hotel Name']=''

#show dataframe
hotel_df.head(15)

In [67]:
#parameter dictionalry to update each iteration
params={'radius':5000,
        'type':'hotel',
        'keyword':'hotel',
        'key':gkey}

#start for loop to 
for index, row in hotel_df.iterrows():
    lat=row['Lat']
    lng=row['Lng']
    name=row['City']
    
    #base url for search
    base_url='https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # change location each iteration while leaving original params in place
    params['location']=(f'{lat},{lng}')

    
    #json request
    hotel_response=requests.get(base_url,params=params).json()

    #try excempt fo append search results to list
    try:
        hotel_df.loc[index,'Hotel Name']=hotel_response['results'][0]['name']
    except:
        hotels.append('No hotel found')

In [68]:
#print the data frame
hotel_df.head(10)

,City,Country,Lat,Lng,Hotel Name
0,ostrovnoy,RU,68.05,39.51,B&B HOTEL
4,cape town,ZA,-33.93,18.42,Atlanticview Cape Town Boutique Hotel
6,flinders,AU,-34.58,150.85,Shellharbour Resort & Conference Centre
8,tiksi,RU,71.64,128.87,Umka
11,castro,CL,-42.48,-73.76,Enjoy Chiloé. Hotel De La Isla
16,vilyuysk,RU,63.75,121.63,"Gostinitsa ""Mariya"""
17,ushuaia,AR,-54.81,-68.31,Wyndham Garden Ushuaia Hotel del Glaciar
21,busselton,AU,-33.64,115.35,Esplanade Hotel
22,ambon,FR,47.55,-2.56,Hotel de la Plage - Damgan - Morbihan - Bretagne
24,fallon,US,46.84,-105.12,B&B HOTEL

In [63]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [70]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))